<div class="parent">

  <div class="nav">
    <div class="logo">
      HOVERTHESEA
    </div>
    <div class="menu">
      <span class="burger"></span>
    </div>
  </div>

  <div class="left_side">
    <div class="text">
      30 feelings
    </div>
  </div>

  <div class="main"></div>

  <div class="right_side">
    <div class="overlap"></div>
    <div class="preorder">
      <div class="preorder-wp">
        <img src="/assets/t5h1nbXw.png" alt="">
        preorder now
        <div class="arrow"></div>
      </div>
    </div>
  </div>

  <div class="footer_left">
    <ul>
      <li>Instagram</li>
      <li>Facebook</li>
      <li>Youtube</li>
      <li>Pinterest</li>
    </ul>
  </div>

  <div class="footer_right">
    <div class="merdoum"></div>
    <span class="copyrigth">© 2016-2021 Overthesea</span>
  </div>

</div>
